*,*::after,*::before
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #F0EEE9;
    display:flex;
    justify-content: center;
}

.main-container{
    background-color:  #ffcd74;
    width:80%;
    max-width: 500px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius:20px;
    padding:20px;
}

.search{
    width: 70%;
    
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:20px;
    
}
.city {
    max-width: 100%;
   background-color: rgb(123, 203, 250);
    border: 1px solid black;
    border-radius: 20px;
    padding-left: 20px;
    height:30px;

}
.search-btn{
    background-color: white;
    height:30px;
    width:30px;
    border-radius: 50% ;
    padding-top: 3px;
    overflow: hidden;
    
}
.search-btn img{
   
    width:20px;
    height:20px;
    background-position: center;
}

.invalid{
    padding-top: 20px;
    display:none;
}

.main-weather-box{
   
    display: none;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
.weather-img{
    max-width: 100%;
  height: auto;
  display: block;
}
.sub-weather-box{
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    gap:50px;
    justify-content: space-between;
}

.humidity-box,.wind-speed-box{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.humidity-box img,.wind-speed-box img{
    width:50px;
}


